<form class="inscription">
    <h2>Inscrition</h2>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prenom</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mot de pass</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-button>Inscription</button>
</form>