<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>TEST</span>
  <section>
    <div class="example-button-row">
      <a mat-raised-button routerLink="" routerLinkActive="active" >Accueil</a>
      <a mat-raised-button routerLink="connexion" routerLinkActive="active" >Connexion</a>
      <a mat-raised-button routerLink="inscription" routerLinkActive="active" >Inscription</a>
      <a mat-raised-button routerLink="panier" routerLinkActive="active" >Panier</a>
    </div>
  </section>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<router-outlet></router-outlet>