<div class="cours">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Titre 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            description  description description description descriptiondescription descriptiondescription
          </p>
          <mat-card-subtitle>Prix: 3200DT</mat-card-subtitle>
          <mat-card-subtitle>Niveau: Debutant</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ajout</button>
      </mat-card-actions>
      </mat-card>
    
    <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Titre 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
        description  description description description descriptiondescription descriptiondescription
        </p>
        <mat-card-subtitle>Prix: 3200DT</mat-card-subtitle>
        <mat-card-subtitle>Niveau: Debutant</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ajout</button>
    </mat-card-actions>
    </mat-card>
</div>